body {
  background: #121212;
  color: #00ffcc;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.clock {
  background: #1e1e1e;
  padding: 40px 60px;
  border-radius: 20px;
  box-shadow: 0 0 20px #00ffcc55;    /*  box-shadow: offset-x offset-y blur-radius spread-radius color; */
  font-size: 60px;
  letter-spacing: 15px;
}